.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-family: verdana, arial, helvetica, sans-serif, tahoma;
}

.dropdown > .dropdown-menu {
    display: none;
    min-width: 150px;
    background: #FFF;
    border: 1px solid #CCCCCC;
    padding: 8px 0px;
    word-wrap: break-word;
    border-radius: 5px;
    text-align: left;
    position: absolute;
    z-index: 10;
    list-style: none;
    margin: 0px;
}

.dropdown.right > .dropdown-menu {
    right: 0px;
}

.dropdown > .dropdown-menu > li {
    display: inline-block;
    padding: 8px 16px;
    width: 100%;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown > .dropdown-menu > li.dropdown-header,
.dropdown > .dropdown-menu > li.dropdown-header > a {
	cursor: default;
    font-weight: 600;
    color: #8a8a8a !important;
}

.dropdown > .dropdown-menu > li:not(.dropdown-header):hover {
    background: #F5F5F5;
}

.dropdown > .dropdown-menu > li > a, 
.dropdown > .dropdown-menu > li > a:link, 
.dropdown > .dropdown-menu > li > a:visited {
    text-decoration: none;
    color: #333;
}

.dropdown.open > .dropdown-menu {
    display: block !important;
}